body {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    transition: 1s;
}